* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', 'sans-serif';
    font-family: 'Open Sans', 'sans-serif';
}

/* ------------banner1-section-------- */
.banner-section {
    background: #eddbed;
    padding: 18px 0;
}

.left-banner-des h1 {
    font-size: 45px;
    line-height: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}

.common-paragraph {
    color: #6c686899;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: 700;
}

.shop-btn {
    border: none;
    background: #E55473;
    color: #fff;
    padding: 8px 23px;
    font-weight: bold;
    border-radius: 5px;
}

.banner-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 100px;
}

.right-banner-photo img {
    width: 430px;
    height: 530px;
}

/* ----------Featured-Flowers-------- */
.featured-flowers {
    margin: 80px;
}

.featured-flowers-heading {
    text-align: center;
}

.flower-gate-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-top: 30px;
}

.flower-gate {
    width: 300px;
    height: 270px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding-top: 3rem;
}

.pink-flw1 {
    margin-top: 20px;
}

.flower-gate p {
    text-decoration: underline;
    font-size: 14px;
}

.pink-flw2 {
    margin-top: 30px;
}

.fl-1 {
    position: relative;
    top: 21px;
    width: 60%;
    margin-bottom: 10px;
}

.fl-2 {
    position: relative;
    top: 30px;
    width: 80%;
    margin-bottom: 10px;
}

.fl-3 {
    position: relative;
    width: 60%;
    margin-bottom: 10px;
}

.color-1 {
    background: #F2DEE8;
}

.color-2 {
    background: #DAF0F1;
}

.color-3 {
    background: #E4ECDC;
}

/* ---------flower-service------- */

.flower-service {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 120px;
    background: #F4F4F4;
    padding: 80px 10px;
    margin: 70px 290px;
}

.services h5 {
    color: #686767;
}

.services img {
    width: 50px;
    height: 50px;
}

/* ----------banner-2---=---- */
.banner2-section {
    padding: 55px 30px;
}

.right-banner2-photo img {
    width: 65%;
}

.banner2-des h2 {
    margin-bottom: 20px;
    font-weight: 900;
}

.banner2-des {
    text-align: center;
}

/* ------------instagram------------- */

.instagram {
    margin: 50px 0;
}

.flower-card img {
    width: 16%;
    margin: 18px;
}

.flower-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------deal------------- */
.deal {
    text-align: center;
    background: url("./Flower Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 38px 220px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deal-des input {
    width: 25rem;
    border: none;
    outline: none;
    height: 43px;
    padding-left: 10px;
    margin-right: 4px;
    color: #8b7777;
    font-size: 11px;
}

.subscribe {
    border: none;
    background: #E55473;
    color: #fff;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

/* --------------top-sell---------- */
.top-sell {
    margin: 70px 0;
}

.bouquets {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    padding: 25px;
}

.bouquet-box {
    background: #EBE5D4;
    border-top-left-radius: 75px;
    border-bottom-right-radius: 60px;
    box-shadow: -5px 4px 9px #686767;
}

.bouquet-box figcaption {
    padding: 6px 20px;
}

.bq-des {
    font-size: 12px;
    color: #6b6060;
    line-height: 12px;
}

.bouquet-box i {
    color: #7B3F00;
}

.bouquet-box img {
    width: 250px;
    border-top-left-radius: 75px;
    padding: 15px;
}

.rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.buy {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    color: #fff;
    background: #7B3F00;
    font-weight: bold;
}

.rate small {
    font-size: 25px;
    font-style: italic;
    color: #7B3F00;
}

.star-rate {
    text-align: center;
    margin: 10px 0;
}




/* -----------footer----------- */
footer {
    background: #000;
    background: #000;
    padding: 60px;
    text-align: center;
    color: #fff;
}

footer small {
    font-size: 12px;
    color: #918f8f99;
}

footer p {
    font-size: 11px;
    margin: 10px;
    color: rgba(255, 255, 255, 0.90);
    ;
}

.flower-color {
    color: #E55473;
}



@media screen and (max-width:576px) {

    .banner-details, .deal,
    .flower-gate-box,.bouquets, .flower-card {
        flex-direction: column;
        text-align: center;
    }
    .banner-details{
        padding-top: 45px;
    }

    .right-banner-photo img {
        padding: 30px;
    }

    .flower-gate {
        margin-bottom: 2rem;
    }

    .flower-service{
        margin: 70px auto;
        flex-direction: column;
    }
    .banner2-section {
        padding: 0;
    }

    .right-banner2-photo img {
        width: 100%;
        padding-top: 20px;
    }
    .flower-card img, .bouquet-box {
        width: 100%;
    }
    .flower-card{
        margin: 20px;
    }
    .bouquet-box img{
        width: 90%;
    }
    .deal{
        margin: 0px 0 10px 10px;
    }
    .subscribe{
        margin-top: 10px;
        width: 50%;
    }
    footer{
        padding: 50px 25px;
    }
}